# Service Account Key - NEVER commit this
service-account-key.json

# Environment Variables
.env

# Node Modules
node_modules/

# Logs
*.log
npm-debug.log*
model_server_out.txt
model_server_err.txt

# OS Files
.DS_Store
Thumbs.db

models COPY1